In [3]:
import pandas as pd
import numpy as np
ratings = pd.read_csv('ratings.csv')

ratings.head(10)
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [16]:
ratings['rating'].min()

ratings['rating'].max()

5.0

In [24]:
movies = pd.read_csv('movies.csv')

movies
movies[(movies.movieId == 3456)]


# s.loc[5197500]

      movieId                                         title genres
2587     3456  Color of Paradise, The (Rang-e khoda) (1999)  Drama

In [22]:
joined = ratings.merge(movies, on='movieId', how='outer')
joined

,userId,movieId,rating,timestamp,title,genres
0,1.0,1,4.0,9.649827e+08,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5.0,1,4.0,8.474350e+08,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7.0,1,4.5,1.106636e+09,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15.0,1,2.5,1.510578e+09,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17.0,1,4.5,1.305696e+09,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...,...
100849,NaN,30892,NaN,NaN,In the Realms of the Unreal (2004),Animation|Documentary
100850,NaN,32160,NaN,NaN,Twentieth Century (1934),Comedy
100851,NaN,32371,NaN,NaN,Call Northside 777 (1948),Crime|Drama|Film-Noir
100852,NaN,34482,NaN,NaN,"Browning Version, The (1951)",Drama
100853,NaN,85565,NaN,NaN,Chalet Girl (2011),Comedy|Romance

In [22]:
len(ratings) == len(joined)

True

In [23]:
ratings = pd.read_csv('ratings_example.txt', sep = '\t')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144

In [24]:
movies = pd.read_csv('movies_example.txt', sep = '\t')
movies.head()

   movieId                                      title                   genres
0       31                    Dangerous Minds (1995)                     Drama
1       32  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)  Mystery|Sci-Fi|Thriller
2       31                    Dangerous Minds (1995)                     Drama

In [30]:
ratings.merge(movies, on = 'movieId', how = 'right')

,userId,movieId,rating,timestamp,title,genres
0,1.0,31,2.5,1.260759e+09,Dangerous Minds (1995),Drama
1,1.0,31,2.5,1.260759e+09,Dangerous Minds (1995),Drama
2,NaN,32,NaN,NaN,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller

In [36]:
files = ['setup.py', 'ratings.txt', 'stock_stats.txt', 'movies.txt', 'run.sh', 'game_of_thrones.mov']
data = []
for i in files:
    if '.txt' in i:
        data.append(i)
data

['ratings.txt', 'stock_stats.txt', 'movies.txt']

In [51]:
files = ['setup.py', 'ratings.txt', 'stock_stats.txt', 'movies.txt', 'run.sh', 'game_of_thrones.mov']
data = []
for i in files:
    if '.txt' in i:
        data.append(i)
data

['ratings.txt', 'stock_stats.txt', 'movies.txt']