## Основные понятия

In [2]:
#На рынке новостроек появилось предложение от застройщика "Гарантия" — двухкомнатная квартира общей площадью 59.50 кв.м, жилой площадью 31.40 кв.м на 19-м этаже 22-х этажного дома. В доме 2 подъезда. Цена за квадратный метр квартиры у этого застройщика составляет 60550 рублей.

import numpy as np
apartment = np.array([59.50, 31.40, 19, 2, 60550, 2])
apartment
#В NumPy вектор и массив - одно и то же.

array([5.950e+01, 3.140e+01, 1.900e+01, 2.000e+00, 6.055e+04, 2.000e+00])

Упростим себе задачу оценки новой квартиры — сгенерируем новый признак — отношение жилой площади к общей.

А от старых признаков смело избавимся, сократив векторное пространство нашего объекта.

In [19]:
#Исключение - понятие вектор-столбец и вектор-строка - фактически двумерные массивы, где один из атрибутов shape равен 1.

print("ndim:", apartment.ndim) # число осей (измерений) массива - n.dim: 1
print("shape:", apartment.shape) # размеры массива, для вектора определена только длина - shape: (6, )

ndim: 1
shape: (6,)

In [20]:
# вычислим долю жилой площади в квартире
share_living_space = apartment[1]/apartment[0]
round(share_living_space,2)

0.53

In [21]:
#Избавимся от старых признаков, посредством функции delete(), которую предоставляет библиотека numpy.
#Передадим в значение функции индексы признаков, которые необходимо удалить из нашего массива apartment:

apartment = np.delete(apartment, [0, 1])
apartment

array([1.900e+01, 2.000e+00, 6.055e+04, 2.000e+00])

In [22]:
#И в завершение добавим в конец нашего массива новый признак share_living_space, который сочетает в себе смысл двух старых признаков:
apartment = np.append(apartment, share_living_space)
print(len(apartment))
apartment
print("shape:", apartment.shape) # размеры массива, для вектора определена только длина - shape: (6, )

5
shape: (5,)

In [28]:
t = np.array([12, 14, 17, 19, 24, 28, 31, 31, 27, 22, 17, 13])
t[5],t[1],t.min(),t.max()

(28, 14, 12, 31)

## Базовые операции над векторами

In [32]:
x = np.array([1, 2, 3**0.5])
y = np.array([-1, -2])
x+y

ValueError: operands could not be broadcast together with shapes (3,) (2,)

In [33]:
wife = np.array([120, 150, 90])
husband = np.array([130, 130, 130])
mother_in_law = np.array([2, 3, 2.5])

print(wife)
print(husband)
print(mother_in_law)

# Найдите вектор доходов тёщи в тыс. рублей, если курс евро составляет 72 рубля. 
mother_in_law = mother_in_law * 72
print(mother_in_law)

# Найдите вектор суммарного дохода семьи в тыс. рублей по месяцам.
wife + husband + mother_in_law

[120 150  90]
[130 130 130]
[2.  3.  2.5]
[144. 216. 180.]

array([394., 496., 400.])

In [36]:
a = np.array([4, 5])
b = np.array([2,1])
d = np.array([1,0])
z =(2*a)+(-3*b)+(5*d)
z

array([7, 7])

In [38]:
a = np.array([4, 5, -1])
b = np.array([2,0,1])
np.dot(a,b)

7

In [ ]:
a = np.array([4, 5, -1])

In [42]:
a = np.array([4, 6, 1])
np.dot(a,a)**0.5

7.280109889280518

In [49]:
import pandas as pd

Hut_Paradise_DF = pd.DataFrame({'1.Rent': [65, 70, 120, 35, 40, 50, 100, 90, 85], 
                                '2.Area': [50, 52, 80, 33, 33, 44, 80, 65, 65], 
                                '3.Rooms':[3, 2, 1, 1, 1, 2, 4, 3, 2],
                                '4.Floor':[5, 12, 10, 3, 6, 13, 8, 21, 5], 
                                '5.Demo two weeks':[8, 4, 5, 10, 20, 12, 5, 1, 10], 
                                '6.Liv.Area': [37, 40, 65, 20, 16, 35, 60, 50, 40]})
display(Hut_Paradise_DF)
Hut_Paradise_DF.values[:,3]

   1.Rent  2.Area  3.Rooms  4.Floor  5.Demo two weeks  6.Liv.Area
0      65      50        3        5                 8          37
1      70      52        2       12                 4          40
2     120      80        1       10                 5          65
3      35      33        1        3                10          20
4      40      33        1        6                20          16
5      50      44        2       13                12          35
6     100      80        4        8                 5          60
7      90      65        3       21                 1          50
8      85      65        2        5                10          40

array([[ 65,  50,   3],
       [ 70,  52,   2],
       [120,  80,   1]], dtype=int64)

In [50]:
Hut_Paradise_DF.values[2,3]

10

In [51]:
len(Hut_Paradise_DF)

9

In [53]:
Hut_Paradise_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   1.Rent            9 non-null      int64
 1   2.Area            9 non-null      int64
 2   3.Rooms           9 non-null      int64
 3   4.Floor           9 non-null      int64
 4   5.Demo two weeks  9 non-null      int64
 5   6.Liv.Area        9 non-null      int64
dtypes: int64(6)
memory usage: 560.0 bytes

In [54]:
Hut_Paradise_DF.values[:,1]-Hut_Paradise_DF.values[:,5]

array([13, 12, 15, 13, 17,  9, 20, 15, 25], dtype=int64)

In [ ]:
13,12,15,13,17,9,20,15,25

In [58]:

Hut_Paradise_DF.values[:,0]*.4
26,28,48,14,16,20,40,36,34

(26, 28, 48, 14, 16, 20, 40, 36, 34)

In [61]:
demo_length = np.array([10, 20, 30, 15, 5, 40, 20, 8, 20])
print(np.dot(Hut_Paradise_DF.values[:,4], demo_length))
Hut_Paradise_DF.values[:,4]@demo_length

1348

1348

In [4]:
u=np.array([3,0,1,1,1])
v=np.array([0,1,0,2,-2])
w=np.array([1,-4,-1,0,-2])
np.dot(v,w)

0

In [68]:
comb = v * 2 + w * -3
comb

array([-3, 14,  3,  4,  2])

In [69]:
u@comb == 0

True

In [72]:
u

array([3, 0, 1, 1, 1])

In [20]:
# нормировка
u_norm=u/np.linalg.norm(u)
v_norm=v/np.linalg.norm(v)
w_norm=w/np.linalg.norm(w)
print('a_norm:',u_norm)
print('length of a_norm:',np.linalg.norm(u_norm))
print(u_norm[2])
np.around(u_norm[2],2)

a_norm: [0.8660254  0.         0.28867513 0.28867513 0.28867513]
length of a_norm: 1.0
0.2886751345948129

0.29

In [21]:
np.around(u_norm[2],3), np.around(v_norm[3],3), np.around(w_norm[0],3)

(0.289, 0.667, 0.213)