In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
973,tt1853728,100000000,425368238,Django Unchained,Jamie Foxx|Christoph Waltz|Leonardo DiCaprio|K...,Quentin Tarantino,"Life, liberty and the pursuit of vengeance.","With the help of a German bounty hunter, a fre...",165,Drama|Western,Columbia Pictures|The Weinstein Company,12/25/2012,7.7,2012
591,tt0250310,11000000,23978402,Corky Romano,Chris Kattan|Vinessa Shaw|Peter Falk|Peter Ber...,Rob Pritts,Undercover and Out The Way!,"Corky Romano is a bumbling, simpleton, veterin...",86,Action|Comedy|Crime,Robert Simonds Productions|Touchstone Pictures,10/12/2001,4.4,2001
1175,tt0339034,12000000,4922166,From Justin to Kelly,Kelly Clarkson|Justin Guarini |Brandon Hensche...,Robert Iscove,The tale of two American Idols.,"A lonely, sexually repressed man. A depressed ...",90,Comedy|Romance,20th Century Fox,6/20/2003,3.5,2003
813,tt1615918,75000000,342695435,Alvin and the Chipmunks: Chipwrecked,Jason Lee|David Cross|Jenny Slate|Andy Buckley...,Mike Mitchell,This holiday it's gonna get squeaky.,"Playing around while aboard a cruise ship, the...",87,Comedy|Fantasy|Family|Music|Animation,Fox 2000 Pictures,12/14/2011,5.5,2011
31,tt2848292,29000000,287506194,Pitch Perfect 2,Anna Kendrick|Rebel Wilson|Hailee Steinfeld|Br...,Elizabeth Banks,We're back pitches,"The Bellas are back, and they are better than ...",115,Comedy|Music,Universal Pictures|Gold Circle Films|Brownston...,5/7/2015,6.8,2015

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов
# тут другие ваши предобработки колонок например:
# добавим в датасет колонку profit это прибыль = сборы - бюджет
data['profit']=data.revenue-data.budget

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# запишите свой вариант ответа
answers['1']='5. Pirates of the Caribbean: On Stranger Tides'
data[data.budget == data.budget.max()].original_title
# +
# если ответили верно, можете добавить комментарий со значком "+"

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [6]:
# можно добавлять разные варианты решения
# находим самый высокий  бюджет 
data['budget'].max()
# находим сам  фильм исходя из  бюджета
data.query('budget == 380000000').original_title
# +

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2']='2. Gods and Generals'
# +

In [8]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
answers['3']='3. Winnie the Pooh'
data[data.runtime == data.runtime.min()].original_title
# +

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [10]:
answers['4']='2. 110'
# округляем и  находим  средлее значение продолжительности  фильма
round(data.runtime.mean())
# +

110

# 5. Каково медианное значение длительности фильмов?

In [11]:
answers['5']='1. 107'
# округляем и  находим  медианное значение продолжительности  фильма
round(data['runtime'].median())
# +

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [12]:
answers['6']='5. Avatar'
# находим  максимальное  значение в  созоданной выше колонке  профит по  названию фильма
data[data.profit == data.profit.max()].original_title
# +

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [13]:
answers['7']='5. The Lone Ranger'
# находим  минимальное  значение в  созоданной выше колонке  профит по  названию фильма
data[data.profit == data.profit.min()].original_title
# +

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [14]:
answers['8']='1. 1478'
# посчитаем кол-во фильмов  которые  принесли  прибль
len(data[data.profit > 0])
# +

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [15]:
answers['9']='4. The Dark Knight'
# посчитаем максимальные кассовые  сборы фильма 2008 и отфильтруем  но  названию
data[data.revenue==data[data.release_year==2008].revenue.max()].original_title
# +

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

Вариант 1

In [16]:
answers['10']='5. The Lone Ranger'
# Отфильтруем через  функцию  query наш датасет на  заданный пероид 2012-2014
data2012_2014=data.query('release_year in ["2012","2013","2014"]')
# Посчитаем минимальную прибль отфильтруем по названию
data2012_2014[data2012_2014.profit==data2012_2014.profit.min()].original_title
# +

1245    The Lone Ranger
Name: original_title, dtype: object

Вариант 2

In [17]:
# Задаем  условие  считаем минимальную  прибль  фильтруем по  названию
data[data.profit == data[(data.release_year >= 2012) & (data.release_year <= 2014)].profit.min()].original_title
# +

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [18]:
answers['11']='2. Drama'
# Воспользуемся пандас  серией, с помощью  функции .cat() выделим жанры при
# при помощи split() разделим  посчитаем при помощи value_counts и  выведем на экран командой head()
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts().head(1)
# +

Drama    782
dtype: int64

ВАРИАНТ 2

In [19]:
# Аналогичное  решение  при   помощи  функции  stuck() которую  можно  применить  к DataFrame
df_genres = data.genres.str.split('|',expand=True).stack().value_counts()
df_genres.index[0], df_genres.head(1)
# +

('Drama',
 Drama    782
 dtype: int64)

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

Вариант 1

In [20]:
answers['12']='1. Drama'
#Отбираем только прибыльные фильмы 
data2=data.loc[data.profit>0]
# Воспользуемся пандас  Series, с помощью  функции .cat() выделим жанры при
# при помощи split() разделим  посчитаем при помощи value_counts и  выведем на экран командой head()
pd.Series(data2['genres'].str.cat(sep='|').split('|')).value_counts().head(1)

Drama    560
dtype: int64

Вариант 2

In [21]:
answers['12'] = '1. Drama'

#Отбираем только прибыльные фильмы 
data2=data.loc[data.profit>0]
#Получаем все жанры, подсчитываем результат
genres1=data2.genres.str.split('|',expand=True).stack().value_counts()
#выводим результат
genres1.index[0], genres1.head(1)
#+

('Drama',
 Drama    560
 dtype: int64)

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [22]:
answers['13']='5. Peter Jackson'
# Воспользуемся  групперовкой режисеров по кассовым  сборам суммируем и  сортируем по  убыванию
grouped_director=data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
# Выводим на экран
grouped_director.head(1), grouped_director.index[0]
# +

(director
 Peter Jackson    6490593685
 Name: revenue, dtype: int64,
 'Peter Jackson')

Вариант 2

In [23]:
# Вариант  при  помощи  цикла  очен  грамосткий и занимает  определенное  кол-во  вреени но  тоже имеет  место быть
#Находим список всех режиссеров
director_all = data['director'].str.split('|',expand=True).stack().unique()
#Создаем промежуточный словарь куда  будут   записываться все режисеры и их  сборы
dict_all = {}
# с  помощью цикла определяем  суммы сборов по каждому режиссеру
for director in director_all:
    if(director not in dict_all):        
        dict_all[director] = data[data['director'].str.contains(director,False)]['revenue'].agg('sum')        
    else:
        sum = dict_all[director] 
        dict_all[director] = sum+data[data['director'].str.contains(director,False)]['revenue'].agg('sum')

#Определяем максимумальный сбор в  промежуточном словаре
max_value = max(dict_all.values())
dict_max = {k: v for k, v in dict_all.items() if v == max_value}
#Выводим результат
dict_max
# +

{'Peter Jackson': 6490593685}

# 14. Какой режисер снял больше всего фильмов в стиле Action?

Вариант 1

In [24]:
answers['14']='3. Robert Rodriguez'
# Фильтруем   все  фильмы  по   жанру Action 
data_Action=data[data.genres.str.contains('Action')]
# # Воспользуемся пандас  Series, с помощью  функции .cat() выделим режисеров 
# при помощи split() разделим  посчитаем при помощи value_counts и  выведем на экран командой head()
pd.Series(data_Action['director'].str.cat(sep='|').split('|')).value_counts().head(1)
# +

Robert Rodriguez    9
dtype: int64

Вариант 2

In [25]:
# Фильтруем   все  фильмы  по   жанру Action 
data_Action=data[data.genres.str.contains('Action')]
# рассмотрим всех отсортируем и  выведем первого в  списке 
data_Action['director'].str.split('|',expand=True).stack().value_counts().head(1)
# +

Robert Rodriguez    9
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

Вариант 1

In [26]:
answers['15']='3. Chris Hemsworth'
# 
# Делаем копию исходного датафрейма:
data_copy = data.copy()
# Создаем в ней столбец с разделенными значениями актеров:
data_copy['new_cast'] = data[data.release_year == 2012]['cast'].str.split('|')
# Преобразуем каждый элемент списка в строку:
data_copy = data_copy.explode('new_cast')
# И группируем по значению выручки:
data_copy.groupby(by = 'new_cast')['revenue'].agg('sum').sort_values(ascending=False).head(1)
# +

new_cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

Вариант 2

In [27]:
# через цикл аналогично находим разделяем актеров 
data_cast = pd.Series(data['cast'].str.cat(sep='|').split('|')).value_counts()
# Проходим по  циклу  с указанными параметрами при  помощи  map приминяем  ком всем  значениям внутри  lambda функции и  сумируем результат 
for i in data_cast.index:
    data_cast[i] = data['revenue'][data['release_year']==2012][data['cast'].map(lambda x: True if i in x else False)].sum()
# сортируем и  выводим на экран лучшего
data_cast = pd.DataFrame(data_cast).sort_values(0,ascending=False)
data_cast.head(1), data_cast.index[0]
# +

(                          0
 Chris Hemsworth  2027450773,
 'Chris Hemsworth')

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

Вариант 1

In [28]:
answers['16']='3. Matt Damon'
# Определяем кол-во  высокобюджетных фильмов
data16=data[data.budget>data.budget.mean()]
# определяем актеров  этих  фильмов с   помощью Series
pd.Series(data16['cast'].str.cat(sep='|').split('|')).value_counts().head(1)
# +

Matt Damon    18
dtype: int64

Вариант 2

In [29]:
# Определяем кол-во  высокобюджетных фильмов
data16=data[data.budget>data.budget.mean()]
# определяем актеров  этих  фильмов
cast_genres = data16.cast.str.split('|',expand=True).stack().value_counts()
# выводим на экран 
cast_genres.index[0], cast_genres.head(1)
# +

('Matt Damon',
 Matt Damon    18
 dtype: int64)

Вариант 3

In [30]:
# с  помощью цикла, Но Больше не буду   прибегать  к  данному  виду решения  т.к. очень  грамостко занимает  много времени

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [31]:
answers['17']='2. Action'
# Определяем в  каких фильмах  снялся  актер
data_NC=data[data.cast.str.contains('Nicolas Cage')]
# Фильтруем по  жанрам делаем подсчет выводим на  экран
pd.Series(data_NC['genres'].str.cat(sep='|').split('|')).value_counts().head(1)
# +

Action    17
dtype: int64

Вариант 2,3 аналоги выше  упомянутым

# 18. Самый убыточный фильм от Paramount Pictures

Вариант 1

In [32]:
answers['18']='1. K-19: The Widowmaker'
# Фильтруем  все  фильмы Paramount Pictures 
data_PP=data[data.production_companies.str.contains('Paramount Pictures')]
# Находим самый убыточный
data_PP[data_PP.profit==data_PP.profit.min()].original_title
# +

925    K-19: The Widowmaker
Name: original_title, dtype: object

Вариант 2

In [33]:

#Отберем убыточные фильмы  студии Paramount Pictures
data_PP = data[(data.profit < 0) & (data['production_companies'].str.contains('Paramount Pictures'))]
#Сотрируем результат по profit
data_PP.sort_values('profit').original_title.head(1)
#+

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [34]:
answers['19']='5. 2015'
# Групперуем по году  выпуска и кассомым сборам суммируем и  сортируем
gb_year=data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
# выводим на экран 
gb_year.head(1), gb_year.index[0]
# +

(release_year
 2015    25449202382
 Name: revenue, dtype: int64,
 2015)

# 20. Какой самый прибыльный год для студии Warner Bros?

Вариант 1

In [35]:
answers['20']='1. 2014'
# Фильтруем  все   фильмы Warner Bros в переменную
data_WB=data[data.production_companies.str.contains('Warner Bros')]
# Групперуем по году  выпуска,прибыльности, суммируем и  сортируем
gr_WB_year=data_WB.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
# выводим на экран 
gr_WB_year.head(1), gr_WB_year.index[0]
# +

(release_year
 2014    2295464519
 Name: profit, dtype: int64,
 2014)

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [36]:
answers['21']='4. Сентябрь'
# Разобьем дату  на   составляющие месяц день  год и посчитаем  кол-во фильмов  которые  будут  равны ее дате 
release=data['release_date'].str.split('/',expand=True)
release.columns=['month','day','year']
months=release['month'].value_counts()
months.head(1) 
# +

9    227
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [37]:
answers['22']='2. 450'
# Разобьем дату  на   составляющие месяц день  год и посчитаем  кол-во фильмов  которые  будут  равны ее дате 
release=data['release_date'].str.split('/',expand=True)
release.columns=['month','day','year']
months=release['month'].value_counts()
# просуммируем  летние месяца получим  кол-во  фильмов в летний сезон
months['6']+months['7']+months['8']
# +

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [38]:
answers['23'] = '5. Peter Jackson'

#Преобразовываем колонку к типу датавремя
data['release_date']=pd.to_datetime(data['release_date'])
#Создаем новый датафрейм копией из основного 
df_month = data.copy()
#Создаем колонку месяц и заполняем ее значениями
df_month['month_year'] = df_month.release_date.dt.month
#Создаем новый датафрейм отбором по зиминим месяцам из промежуточного 
df_winter_month = df_month[(df_month['month_year'] == 1) | (df_month['month_year'] == 12) | (df_month['month_year'] == 2)]
#Выводим результат
df_winter_month['director'].str.split('|',expand=True).stack().value_counts().index[0]
# +

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [39]:
answers['24']='5. Four By Two Productions'
# дублируем DF
data24=data.copy()
# Произведем   подсчет кол-ва  символов включая 'space' добавим их  к  DF
data24['totalwords']=data['original_title'].map(lambda x:len(x))
# разобьем компании  по  именам и добавим к DF
data24['pc'] = data['production_companies'].str.split('|')
# Преобразуем каждый элемент списка в строку
data24 = data24.explode('pc')
# Далее  групперуем их  находим самые длинные названия фильмов по количеству символов
data24.groupby(by = 'pc')['totalwords'].agg('max').sort_values(ascending=False).head(1)
# +

pc
Four By Two Productions    83
Name: totalwords, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [48]:
answers['25']='3. Midnight Picture Show'
# дублируем DF
data25=data.copy()
# Произведем   подсчет кол-во  слов в описании  добавим их  к  DF
###########data25['total']=data['overview'].map(lambda x:len(x))############
data25['total']=data['overview'].str.split().str.len()
# разобьем компании  по  именам и добавим к DF
data25['pc'] = data['production_companies'].str.split('|')
# Преобразуем каждый элемент списка в строку
data25 = data25.explode('pc')
# Далее  групперуем их  находим среднее 
data25.groupby(by = 'pc')['total'].agg('mean').sort_values(ascending=False).head(1)
# +

pc
Midnight Picture Show    175.0
Name: total, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [41]:
answers['26']='1. Inside Out, The Dark Knight, 12 Years a Slave'
#запрашиваем интересующие нас  колонки  и  сортируем  по  по рейтенгу 
#выводим на  экран  только те  фильмы  которые  соответствуют запросу в 1%
#все 3  фильма входят в  состав  1  процента  лучщих Inside Out, The Dark Knight, 12 Years a Slave'
data[['original_title','vote_average']].sort_values('vote_average',ascending=False).head(int(len(data['vote_average'])*0.01))
#+

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [42]:
answers['27']='5. Daniel Radcliffe & Rupert Grint'
# Подсмотерл в  слаке  решение 
# но детально разобрал itertools.combinations(iterable, [r]) - комбинации длиной r из iterable без повторяющихся элементов.
# используя цикл  добавляем всех  не повторяющихся в  combo_list 
actor_list=data.cast.str.split('|').tolist()
combo_list=[]
for i in actor_list:
    for j in combinations(i, 2):
        combo_list.append(' '.join(j))
# Приводим к  виду  DF и  производим  подсчет 
combo_list=pd.DataFrame(combo_list)
combo_list.columns=['actor_combinations']
combo_list.actor_combinations.value_counts().head(2)
# +

Daniel Radcliffe Emma Watson     8
Daniel Radcliffe Rupert Grint    8
Name: actor_combinations, dtype: int64

ВАРИАНТ 2

In [7]:
answers['27'] ='5. Daniel Radcliffe & Rupert Grint'

#Ben Stiller, Owen Wilson
#Vin Diesel, Paul Walker
#Daniel Radcliffe, Rupert Grint
#Adam Sandler, Kevin James
#Johnny Depp, Helena Bonham Carter
# Посчитаем кол-во съемок фильмов  каждой пары актеров в отдельности
result1 = data[(data['cast'].str.contains('Ben Stiller')) & (data['cast'].str.contains('Owen Wilson'))]['imdb_id'].count()
result2 = data[(data['cast'].str.contains('Vin Diesel')) & (data['cast'].str.contains('Paul Walker'))]['imdb_id'].count()
result3 = data[(data['cast'].str.contains('Daniel Radcliffe')) & (data['cast'].str.contains('Rupert Grint'))]['imdb_id'].count()
result4 = data[(data['cast'].str.contains('Adam Sandler')) & (data['cast'].str.contains('Kevin James'))]['imdb_id'].count()
result5 = data[(data['cast'].str.contains('Johnny Depp')) & (data['cast'].str.contains('Helena Bonham Carter'))]['imdb_id'].count()

print('Ben Stiller, Owen Wilson: {}\nVin Diesel, Paul Walker: {}\nDaniel Radcliffe, Rupert Grint: {}\nAdam Sandler, Kevin James: {}\nJohnny Depp, Helena Bonham Carter: {}'.format
      (result1, result2, result3, result4, result5))

# +

Ben Stiller, Owen Wilson: 6
Vin Diesel, Paul Walker: 5
Daniel Radcliffe, Rupert Grint: 8
Adam Sandler, Kevin James: 5
Johnny Depp, Helena Bonham Carter: 6

# Submission

In [44]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers
# +

{'1': '5. Pirates of the Caribbean: On Stranger Tides',
 '2': '2. Gods and Generals',
 '3': '3. Winnie the Pooh',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar',
 '7': '5. The Lone Ranger',
 '8': '1. 1478',
 '9': '4. The Dark Knight',
 '10': '5. The Lone Ranger',
 '11': '2. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [45]:
# и убедиться что ни чего не пропустил)
len(answers)
# +

27