In [1]:
import pandas as pd
import os
log=pd.read_csv('log.csv', header=None)
log.head(10)
# df.info()

                                  0                     1         2   3
0  Запись пользователя № - user_919  [2019-01-01 14:06:51       NaN NaN
1  Запись пользователя № - user_973  [2019-01-01 14:51:16       NaN NaN
2  Запись пользователя № - user_903  [2019-01-01 16:31:16       NaN NaN
3  Запись пользователя № - user_954  [2019-01-01 17:17:51       NaN NaN
4  Запись пользователя № - user_954  [2019-01-01 21:31:18       NaN NaN
5  Запись пользователя № - user_917  [2019-01-01 23:34:55  156789.0 NaN
6  Запись пользователя № - user_900   [2019-01-01 4:37:25       NaN NaN
7  Запись пользователя № - user_980   [2019-01-01 6:31:23       NaN NaN
8  Запись пользователя № - user_906  [2019-01-02 10:57:08       NaN NaN
9  Запись пользователя № - user_952  [2019-01-02 16:55:06       NaN NaN

In [2]:
log=pd.read_csv('https://lms.skillfactory.ru/assets/courseware/v1/898ed1ca47bd30eb121758067cd97e2a/asset-v1:Skillfactory+DST-12+11MAR2020+type@asset+block/log.csv', header=None)
log

                                    0                     1        2        3
0    Запись пользователя № - user_919  [2019-01-01 14:06:51      NaN      NaN
1    Запись пользователя № - user_973  [2019-01-01 14:51:16      NaN      NaN
2    Запись пользователя № - user_903  [2019-01-01 16:31:16      NaN      NaN
3    Запись пользователя № - user_954  [2019-01-01 17:17:51      NaN      NaN
4    Запись пользователя № - user_954  [2019-01-01 21:31:18      NaN      NaN
..                                ...                   ...      ...      ...
995  Запись пользователя № - user_984   [2019-04-20 9:59:58   9754.0      NaN
996                            #error                   NaN  10054.0  29265.0
997                            #error                   NaN  10454.0      NaN
998                            #error                   NaN   1000.0      NaN
999                            #error                   NaN  10754.0      NaN

[1000 rows x 4 columns]

In [3]:
sample=pd.read_csv('sample.csv', header=None)
sample.columns = ['name','city','age','profession']
columns =  sample.columns
columns
sample

            name         city  age  profession
0           Name         City  Age  Profession
1         Иванов       Москва   25      Клинер
2            NaN    Волгоград   31    Менеджер
3         Иванов       Москва   25      Клинер
4        sidorov  Владивосток   43    Менеджер
5        _______        Курск   50    Водитель
6       Кузнецов         Сочи   19     Рабочий
7          Сажин       Сургут   29     Рабочий
8   Котлеревский   Йошкар-Ола   32     Рабочий
9     Завалишина    Чебоксары   36    Менеджер
10        Левина          NaN   55     Рабочий
11          Фикс         Рига   42     Рабочий

In [4]:
sample.columns

Index(['name', 'city', 'age', 'profession'], dtype='object')

In [5]:
log = pd.read_csv("log.csv", header=None)
log.columns = ['user_id','time','bet','win']
log

                              user_id                  time      bet      win
0    Запись пользователя № - user_919  [2019-01-01 14:06:51      NaN      NaN
1    Запись пользователя № - user_973  [2019-01-01 14:51:16      NaN      NaN
2    Запись пользователя № - user_903  [2019-01-01 16:31:16      NaN      NaN
3    Запись пользователя № - user_954  [2019-01-01 17:17:51      NaN      NaN
4    Запись пользователя № - user_954  [2019-01-01 21:31:18      NaN      NaN
..                                ...                   ...      ...      ...
995  Запись пользователя № - user_984   [2019-04-20 9:59:58   9754.0      NaN
996                            #error                   NaN  10054.0  29265.0
997                            #error                   NaN  10454.0      NaN
998                            #error                   NaN   1000.0      NaN
999                            #error                   NaN  10754.0      NaN

[1000 rows x 4 columns]

In [6]:
users = pd.read_csv('users.csv', encoding='koi8-r', sep = '\t')
users.columns = ['user_id', 'email', 'geo']
users

     user_id                     email          geo
0   User_943       Accumanst@gmail.com       Ижевск
1   User_908         Advismowr@mail.ru       Ижевск
2   User_962           Anachso@ukr.net    Краснодар
3   User_973          Antecia@inbox.ru        Пермь
4   User_902        Balliaryva@ukr.net          NaN
..       ...                       ...          ...
95  User_959  UpdatesCurious@yahoo.com       Тюмень
96  User_901        V2artierso@mail.ru  Арзангелтск
97  User_970          Vashoterlo@bk.ru      Воронеж
98  User_965       Visuareda@yahoo.com      Воронеж
99  User_921              Aavast@ya.ru       Ижевск

[100 rows x 3 columns]

In [7]:
sample=pd.read_csv('sample.csv', header=None)
sample.columns = ['Name','City','Age','Profession']
columns =  sample.columns
columns
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        11 non-null     object
 1   City        11 non-null     object
 2   Age         12 non-null     object
 3   Profession  12 non-null     object
dtypes: object(4)
memory usage: 512.0+ bytes

In [9]:
sample.City.unique()

array(['City', 'Москва', 'Волгоград', 'Владивосток', 'Курск', 'Сочи',
       'Сургут', 'Йошкар-Ола', 'Чебоксары', nan, 'Рига'], dtype=object)

In [ ]:
sample.info()
# sample['Age'].astype('int')

In [ ]:
log = pd.read_csv("log.csv", header=None)
log.columns = ['user_id','time','bet','win']
# log.user_id.unique()

In [ ]:
# ample2 = sample[sample['age'] < '30'] & sample[sample['profession'] == 'Рабочий']
# sample['age'].astype('int64')
sample2 = sample[(sample['Age']< '30') & (sample['Profession'] == 'Рабочий')]
sample2

In [ ]:
log = pd.read_csv("log.csv",header=None)
log.columns = ['user_id','time', 'bet','win']
log_win = log[log['win'] > 0]
log_win
win_count = log_win.win.count()
win_count

In [ ]:
sample = pd.read_csv('sample.csv', header = 0)
sample.columns = ['Name','City','Age','Profession']
sample.info()

In [ ]:
sample.query('Age>20')

In [ ]:
sample.query('City in ["Рига","Сочи"]')

In [ ]:
sample.query('City in ["Рига", "Сочи","Чебоксары", "Сургут"] & 21<Age<50 & Profession != "Менеджер"')

In [ ]:
log = pd.read_csv("log.csv",header=None)
log.columns = ['user_id','time', 'bet','win']
log2 = log.query('bet<2000 & win>0')
log2

In [ ]:
sample[sample.Name.str.match("К", na=False)]

In [ ]:
sample[~sample.Name.str.match("К", na=False)]

In [ ]:
# str.match ("abc") — ищет строки, которые начинаются c abc,
# str.contains ("abc") — ищет строки, в которых есть abc.

In [ ]:
sample3 = sample[~sample.City.str.contains("о", na=False)]
sample3

In [ ]:
log = pd.read_csv("log.csv",header=None)
log.columns = ['user_id','time', 'bet','win']
new_log = log[~log.user_id.str.contains("#error", na=False)]
new_log

In [ ]:
sample.Age.apply(lambda x:x)

In [ ]:
def func(x):
    if x<20:
        return x
    else:
        return 0
sample.Age.apply(func)

In [ ]:
sample = pd.read_csv("sample.csv")
sample2=sample.copy()
sample2.Age = sample.Age.apply(lambda x:(x+1))
sample2

In [ ]:
sample = pd.read_csv("sample.csv")
sample2=sample
sample2.Age = sample.Age.apply(lambda x:(x+1))
sample2

In [ ]:
sample2 = sample
sample2.fillna('str', inplace = True)
sample2.City = sample.City.apply(lambda City: City.lower())
sample2

In [ ]:
def func(x):
    if x<20:
        return x
    else:
        return 0
sample.Age.apply(func)

In [ ]:
sample = pd.read_csv("sample.csv")
def profession_code(s):
    if s == 'Рабочий':
        return 0
    elif s == 'Менеджер':
        return 1
    else:
        return 2
# sample2 = sample
# sample2.Profession = sample.Profession.apply(profession_code)
sample['Age_category']=sample.Age.apply(profession_code)
sample

In [ ]:
sample = pd.read_csv("sample.csv")
def age_category(age):
    if age < 23:
        return 'молодой'
    elif age >= 23 or age <= 35:
        return 'средний'
    else:
        return 'зрелый'
sample['Age_category']=sample.Age.apply(age_category)
sample

In [ ]:

log = pd.read_csv('log.csv', header = None)
log.columns=['user_id', 'time', 'bet', 'win']
def func(s):
    if 'user' in s:
        return s[s.find('user_'):]
    elif 'error' in s:
        return ''
log['user_id']=log.user_id.apply(func)
log

In [ ]:
log = pd.read_csv("log.csv",header=None) 
log.columns = ['user_id','time','bet','win']
t = log.time[0]
t = t.replace('[', '')

In [ ]:
t = t.replace('[', '')

In [ ]:
log['time'] = log['time'].str.replace('[','')
log

In [ ]:
log = pd.read_csv("log.csv",header=None) 
log.columns = ['user_id','time','bet','win']
log = log[~log.user_id.str.contains("#error", na=False)]
def func(s):
    if 'user' in s:
        return s[s.find('user_'):]
log['user_id']=log.user_id.apply(func)
log['time'] = log['time'].str.replace('[','')    
log

In [ ]:
log['time'] = log['time'].str.replace('[','')

Итоги
Чтение датафрейма из CSV-файла с параметрами:

import pandas as pd

users = pd.read_csv('users.csv',sep='/t',encoding='KOI8-R')
Замена колонок:

log.columns = ['user_id','time','bet','win']
Просмотр уникальных значений:

log.column_name.unique()
Агрегированная информация о структуре датафрейма и количестве пропущенных строк:

log.info()
Фильтрация по условию:

log[(log.win>0) & (log.bet<2000)]
Фильтрация через query:

sample.query('City in ["Рига", "Сочи","Чебоксары", "Сургут"] & 21<Age<50 & Profession!="Менеджер"')
Фильтрация через поиск подстроки:

sample[sample.Name.str.match("К", na=False)]
Обратный датафрейм:

sample[~sample.Name.str.match("К", na=False)]
Преобразование данных с помощью apply и лямбда-функции:

sample.Age.apply(lambda x:x**2)
Преобразование данных с помощью apply и именной функции:

sample.Age.apply(func)
Создание новой колонки с помощью apply:

sample['Age_category'] = sample.Age.apply(func2)
Процесс предобработки данных:

Загрузка.
Очистка.
Обогащение.
Анализ.
Дополнительные материалы:

Введение в анализ данных с помощью Pandas.

Первичный анализ данных с Pandas.