In [9]:
import pandas as pd
import os

for root, dirs, files in os.walk('data'):
    print(root, dirs, files)

data [] ['ratings_6.txt', 'ratings_7.txt', 'ratings_1.txt', 'ratings_3.txt', 'ratings_5.txt', 'ratings_10.txt', 'ratings_4.txt', 'ratings_2.txt', 'ratings_9.txt', 'ratings_8.txt']

In [17]:
data = pd.DataFrame(columns = ['userId', 'movieId', 'rating', 'timestamp'])
for filename in os.listdir('data'):
    temp = pd.read_csv(os.path.join('data', filename), names = ['userId', 'movieId', 'rating', 'timestamp'])
    data = pd.concat([data, temp])
len(data)
data.describe()

              rating
count  100004.000000
mean        3.543608
std         1.058064
min         0.500000
25%         3.000000
50%         4.000000
75%         4.000000
max         5.000000

In [71]:
import pandas as pd

ratings = pd.read_csv('ratings.csv')

ratings
s = ratings['rating'].value_counts()
s

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: rating, dtype: int64

In [72]:
s=new.pivot_table(values = 'item_id', index = 'sume', aggfunc = 'max')
s
s.loc[5197500]

NameError: name 'new' is not defined