In [25]:
import pandas as pd
from itertools import combinations

In [26]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
522,tt0266915,90000000,347325802,Rush Hour 2,Chris Tucker|Jackie Chan|Zhang Ziyi|Roselyn SÃ...,Brett Ratner,Get ready for a second Rush!,It's vacation time for Carter as he finds hims...,90,Action|Comedy|Crime|Thriller,New Line Cinema,8/3/2001,6.5,2001
1151,tt0138524,60000000,119940815,Intolerable Cruelty,George Clooney|Catherine Zeta-Jones|Edward Her...,Joel Coen,They can't keep their hands off each others as...,A revenge-seeking gold digger marries a womani...,100,Crime|Comedy|Romance,Imagine Entertainment|Universal Pictures|Mike ...,9/2/2003,5.7,2003
878,tt0246460,140000000,431971116,Die Another Day,Pierce Brosnan|Halle Berry|Rosamund Pike|Rick ...,Lee Tamahori,Events don't get any bigger than...,The ever-daring James Bond taking on a North K...,133,Adventure|Action|Thriller,Eon Productions,11/17/2002,5.8,2002
1170,tt0297144,13000000,17040871,Ghosts of the Abyss,Bill Paxton|John Broadwater|James Cameron|Mike...,James Cameron,The legend no one can forget has become the gr...,Academy AwardÂ® winning director and master st...,92,Family|Documentary,Walt Disney Pictures|Walden Media|Earthship Pr...,4/10/2003,6.7,2003
1411,tt0326905,80000000,10166502,The Great Raid,Benjamin Bratt|Robert Mammone|Max Martini|Jame...,John Dahl,"Two proud races, brothers-in-arms... A daring ...",The Great Raid is an inspirational true story ...,132,Action|Adventure|Drama|History|War,Miramax Films|Lawrence Bender Productions|Mart...,8/12/2005,6.5,2005

In [27]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [28]:
answers = {} # создадим словарь для ответов
data['profit']=data.revenue-data.budget
# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [29]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1']='5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [30]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget==data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [31]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [32]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2']='2. Gods and Generals (tt0279111)'

In [33]:
data[data.runtime==data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [34]:
answers['3']='3. Winnie the Pooh (tt1449283)'
data[data.runtime==data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [35]:
answers['4']='2. 109.6585494970884'
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [36]:
answers['5']='1. 107'
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [37]:
answers['6']='5. Avatar (tt0499549)'
data[data.profit==data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [38]:
answers['7']='5. The Lone Ranger (tt1210819)'
data[data.profit==data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [39]:
answers['8']='1. 1478'
data[data.revenue>data.budget].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [40]:
answers['9']='The Dark Knight (tt0468569)'
data[data.revenue==data[data.release_year==2008].revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [41]:
answers['10']='The Lone Ranger (tt1210819)'
data12_14=data.query('release_year in ["2012","2013","2014"]')
data12_14[data12_14.profit==data12_14.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [42]:
answers['11']='2. Drama'
data11=data["genres"].str.split('|')
genre_list=[]
genres_count={}
count=0
for n in data11:
    for l in n:
        genre_list.append(l)
        count+=1

for genre in genre_list:
    genres_count[genre]=genre_list.count(genre)

max_genres=max(genres_count,key=lambda k:genres_count[k]) 
print(max_genres)

Drama

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [43]:
answers['12']='1. Drama'
data2=data.loc[data.profit>0]
data12=data2["genres"].str.split('|')
genre_list=[]
genres_count={}
count=0
for n in data12:
    for l in n:
        genre_list.append(l)
        count+=1
        
for genre in genre_list:
    genres_count[genre]=genre_list.count(genre)

max_genres=max(genres_count,key=lambda k:genres_count[k]) 
print(max_genres)

Drama

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [44]:
answers['13']='5. Peter Jackson'
grouped_director=data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
print(grouped_director.head(1))

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [45]:
answers['14']='3. Robert Rodriguez'
data_Action=data[data.genres.str.contains('Action')]
directors=data_Action['director'].str.split('|')
director_list=[]
director_count={}
count=0
for n in directors:
    for l in n:
        director_list.append(l)
        count+=1

for director in director_list:
    director_count[director]=director_list.count(director)

max_action=max(director_count,key=lambda k:director_count[k]) 
print(max_action)

Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [46]:
answers['15']='3. Chris Hemsworth'
data15=data[data.release_year==2012][['cast', 'revenue']]
data15.cast=data15.cast.apply(lambda s:s.split('|'))
data15_exploded=data15.explode('cast')
data15_exploded.groupby(by='cast').revenue.sum().sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [47]:
answers['16']='3. Matt Damon'
data16=data[data.budget>data.budget.mean()]
actors=data16['cast'].str.split('|')
actor_list=[]
actor_count={}
count=0
for n in actors:
    for l in n:
        actor_list.append(l)
        count+=1

for actor in actor_list:
    actor_count[actor]=actor_list.count(actor)

max_budget=max(actor_count,key=lambda k:actor_count[k]) 
print(max_budget)

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [48]:
answers['17']='2. Action'
data_NC=data[data.cast.str.contains('Nicolas Cage')]
genres=data_NC['genres'].str.split('|')
genre_list=[]
genres_count={}
count=0
for n in genres:
    for l in n:
        genre_list.append(l)
        count+=1
        
for genre in genre_list:
    genres_count[genre]=genre_list.count(genre)
    
max_NC=max(genres_count,key=lambda k:genres_count[k]) 
print(max_NC)

Action

# 18. Самый убыточный фильм от Paramount Pictures

In [49]:
answers['18']='1. K-19: The Widowmaker (tt0267626)'
data_PP=data[data.production_companies.str.contains('Paramount Pictures')]
data_PP[data_PP.profit==data_PP.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [50]:
answers['19']='5. 2015'
grouped_year=data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
print(grouped_year.head(1))

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [51]:
answers['20']='1. 2014'
data_WBr=data[data.production_companies.str.contains('Warner Bros')]
grouped_WBr_year=data_WBr.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
print(grouped_WBr_year.head(1))

release_year
2014    3243064519
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [52]:
answers['21']='4. Сентябрь'
release=data['release_date'].str.split('/',expand=True)
release.columns=['month','day','year']
months=release['month'].value_counts()
display(months)

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [53]:
answers['22']='2. 450'
release=data['release_date'].str.split('/',expand=True)
release.columns=['month','day','year']
months=release['month'].value_counts()
display(months['6']+months['7']+months['8'])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [54]:
answers['23']='5. Peter Jackson'
data23=pd.concat([data,release],axis=1)
winter=data23.query('month in ["1","2","12"]')
directors=winter['director'].str.split('|')
director_list=[]
director_count={}
count=0
for n in directors:
    for l in n:
        director_list.append(l)
        count+=1

for director in director_list:
    director_count[director]=director_list.count(director)

max_winter=max(director_count,key=lambda k:director_count[k]) 
print(max_winter)

Peter Jackson

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [55]:
answers['24']='5. Four By Two Productions'
data24=data.copy()
data24['totalwords']=data['original_title'].map(lambda x:len(x))
data24['totalwords']=data['original_title'].str.split().str.len()
data24.sort_values(ascending=False,by='totalwords').head(1)
data24.iloc[1448][10].split('|')

['Twentieth Century Fox Film Corporation', 'Four By Two Productions']

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [56]:
answers['25']='3. Midnight Picture Show'
data25=data.copy()
data25['total']=data['overview'].map(lambda x:len(x))
data25['total']=data['overview'].str.split().str.len()
data25.sort_values(ascending=False,by='total').head(1)
data25.iloc[711][10].split('|')

['Lions Gate Films',
 'Lakeshore Entertainment',
 'GreeneStreet Films',
 'Midnight Picture Show']

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [57]:
answers['26']='1. Inside Out, The Dark Knight, 12 Years a Slave'
data[['original_title','vote_average']].sort_values('vote_average',ascending=False).head(int(len(data['vote_average'])*0.01))

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [58]:
answers['27']='5. Daniel Radcliffe & Rupert Grint'
actor_list=data.cast.str.split('|').tolist()
combo_list=[]
for i in actor_list:
    for j in combinations(i, 2):
        combo_list.append(' '.join(j))

combo_list=pd.DataFrame(combo_list)
combo_list.columns=['actor_combinations']
combo_list.actor_combinations.value_counts().head(10)

Daniel Radcliffe Rupert Grint       8
Daniel Radcliffe Emma Watson        8
Rupert Grint Emma Watson            7
Johnny Depp Helena Bonham Carter    6
Ben Stiller Owen Wilson             6
Kristen Stewart Robert Pattinson    5
Robert Pattinson Taylor Lautner     5
Hugh Jackman Ian McKellen           5
Kristen Stewart Taylor Lautner      5
Adam Sandler Kevin James            5
Name: actor_combinations, dtype: int64

ВАРИАНТ 2

# Submission

In [59]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 109.6585494970884',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': '2. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [60]:
# и убедиться что ни чего не пропустил)
len(answers)

27