In [1]:
import pandas as pd

data = pd.Series(["Январь", "Февраль", "Март", "Апрель"],
                 index = ['Первый', "Второй", "Третий", "Четвёртый"])
display(data)

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object

In [2]:
data.loc["Первый"]

'Январь'

In [3]:
data = pd.Series(list(range(10, 1001)))
print(data.loc[10] + data.loc[23] - data.loc[245] + data.iloc[122])

-70

In [4]:
df = pd.DataFrame({'col1': [1,5,3], 'col2': [6,11,18]})
display(df)

   col1  col2
0     1     6
1     5    11
2     3    18

In [5]:
df = pd.DataFrame([ [1,2,3], [2,3,4] ],
                  columns = ['foo', 'bar', 'baz'], 
                  index = ['foobar', 'foobaz'])
display(df)

        foo  bar  baz
foobar    1    2    3
foobaz    2    3    4

In [6]:
football = pd.read_csv('/home/ssmd/Документы/pandas/data_sf.csv')

# df = pd.read_csv('/home/ssmd/Документы/pandas/data_sf.csv', sep = ';')
# df
# df = pd.read_csv('/home/ssmd/Документы/pandas/data_sf.csv', names = ';')
# df
display(football.head())
display(football.info())

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
Unnamed: 0         12897 non-null int64
Name               12897 non-null object
Age                12897 non-null int64
Nationality        12897 non-null object
Club               12897 non-null object
Value              12897 non-null int64
Wage               12897 non-null int64
Position           12897 non-null object
Crossing           12897 non-null int64
Finishing          12897 non-null int64
HeadingAccuracy    12897 non-null int64
ShortPassing       12897 non-null int64
Volleys            12897 non-null int64
Dribbling          12897 non-null int64
Curve              12897 non-null int64
FKAccuracy         12897 non-null int64
LongPassing        12897 non-null int64
BallControl        12897 non-null int64
Acceleration       12897 non-null int64
SprintSpeed        12897 non-null int64
Agility            12897 non-null int64
Reactions          12897 non-null int64
Balance            12897 non-null int64
ShotPower          12897 non-null int64
Jumping            12897 non-null int64
Stamina            12897 non-null int64
Strength           12897 non-null int64
LongShots          12897 non-null int64
Aggression         12897 non-null int64
Interceptions      12897 non-null int64
Positioning        12897 non-null int64
Vision             12897 non-null int64
Penalties          12897 non-null int64
Composure          12897 non-null int64
Marking            12897 non-null int64
StandingTackle     12897 non-null int64
SlidingTackle      12897 non-null int64
GKDiving           12897 non-null int64
GKHandling         12897 non-null int64
GKKicking          12897 non-null int64
GKPositioning      12897 non-null int64
GKReflexes         12897 non-null int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

None

In [7]:
football.ShortPassing.quantile([.25, .75])
football.Gk
# football.Age.()

AttributeError: 'DataFrame' object has no attribute 'Gk'

In [ ]:
football.describe(include = ['object'])
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(football.describe())

In [ ]:
football.Nationality.describe().count

In [ ]:
football.Position.describe(include=['count']

In [ ]:
football.Age.mean()

In [ ]:
# football.Position.describe().unique
football.Position.describe().loc['freq']

In [ ]:
football.ShortPassing.describe()
football.describe(include = ['object'])

In [ ]:
football.describe()

In [ ]:
football.Wage.sum()

In [ ]:
football.Value.min()

In [ ]:
football.Club.describe()

In [ ]:
football.describe(include = ['object'])

In [ ]:
football[football.Age > football.Age.mean()]

In [ ]:
football[(football.Age < football.Age.mean())|
        (football.Club == 'FC Barcelona')]

In [ ]:
football[(football.Age < football.Age.mean())&
        (football.Club == 'FC Barcelona')].Wage.mean()

In [ ]:
football[(football.Wage > football.Wage.mean())].SprintSpeed.mean()

In [ ]:
football[(football.Wage < football.Wage.mean())].SprintSpeed.mean()

In [10]:
football[(football.Wage == football.Wage.max())].Position

0    RF
Name: Position, dtype: object

In [ ]:
football[(football.Nationality == 'Brazil')].Penalties.sum()

In [ ]:
#Укажите средний возраст (Age) игроков, у которых точность удара головой (HeadingAccuracy) > 50. 
#Ответ округлите до сотых.

In [ ]:
football[(football.HeadingAccuracy > 50)].Age.mean()

In [ ]:
football[(football.Composure & football.Reactions) > 
         0.9*(football.Composure.max() & football.Reactions.max())].Age.min()

In [9]:
football[(football.Age == football.Age.max())].Reactions.mean() -football[(football.Age == football.Age.min())].Reactions.mean()

22.642857142857146

In [19]:
football[(football.Value > football.Value.mean())].Nationality.describe().loc['top']

'Spain'