In [2]:
import pandas as pd
import datetime

log = pd.read_csv("log.csv", header=None, names=['user_id','time', 'bet','win'])
display(log.head())

us = pd.read_csv('users.csv', encoding='koi8_r', sep='\t')
us.columns  = ['user_id', 'email', 'geo']
display(us.head())

                            user_id                  time  bet  win
0  Запись пользователя № - user_919  [2019-01-01 14:06:51  NaN  NaN
1  Запись пользователя № - user_973  [2019-01-01 14:51:16  NaN  NaN
2  Запись пользователя № - user_903  [2019-01-01 16:31:16  NaN  NaN
3  Запись пользователя № - user_954  [2019-01-01 17:17:51  NaN  NaN
4  Запись пользователя № - user_954  [2019-01-01 21:31:18  NaN  NaN

    user_id                email        geo
0  User_943  Accumanst@gmail.com     Ижевск
1  User_908    Advismowr@mail.ru     Ижевск
2  User_962      Anachso@ukr.net  Краснодар
3  User_973     Antecia@inbox.ru      Пермь
4  User_902   Balliaryva@ukr.net        NaN

Как найти пропуски
В pandas есть метод isna(), который возвращает таблицу такой же размерности, что и на вход, но значения в ней - True или False. True, если данное значение является пропуском, и False в ином случае.

In [2]:
log.head().isna()

   user_id   time   bet   win
0    False  False  True  True
1    False  False  True  True
2    False  False  True  True
3    False  False  True  True
4    False  False  True  True

Задание 12.1.1

In [3]:
log.time.isna().sum()  #применяем к  столбцу  time и  сумируем пропуски

15

Задание 12.1.2 Удалите все столбцы, где есть пропуски. Запишите в поле, сколько осталось столбцов в данных после этого.

In [4]:
log1=log.copy()
display(log1.columns)
log1.dropna(axis=1).columns

Index(['user_id', 'time', 'bet', 'win'], dtype='object')

Index(['user_id'], dtype='object')

Задание 12.1.3 Удалите все строки, где есть пропуски. Запишите в поле, сколько осталось строк в данных после этого.

In [5]:
log2=log.copy()
log2.dropna(axis=0)

,user_id,time,bet,win
14,Запись пользователя № - user_917,[2019-01-02 8:57:36,145732.0,1987653.0
29,Запись пользователя № - user_942,[2019-01-04 13:59:42,1678321.0,9876543.0
151,Запись пользователя № - user_982,[2019-01-16 21:54:22,100.0,4749.0
189,Запись пользователя № - user_964,[2019-01-21 18:34:44,200.0,4667.0
205,Запись пользователя № - user_931,[2019-01-22 5:26:59,300.0,4319.0
...,...,...,...,...
967,Запись пользователя № - user_975,[2019-04-19 22:25:15,1000.0,6108.0
971,Запись пользователя № - user_912,[2019-04-20 10:35:49,10554.0,31799.0
972,Запись пользователя № - user_926,[2019-04-20 10:35:50,10354.0,30244.0
976,Запись пользователя № - user_970,[2019-04-20 10:35:54,10354.0,30691.0
991,Запись пользователя № - user_965,[2019-04-20 12:55:41,800.0,6927.0

In [6]:
log3=log.copy()
log3[['time', 'user_id']].dropna(axis=1)

                              user_id
0    Запись пользователя № - user_919
1    Запись пользователя № - user_973
2    Запись пользователя № - user_903
3    Запись пользователя № - user_954
4    Запись пользователя № - user_954
..                                ...
995  Запись пользователя № - user_984
996                            #error
997                            #error
998                            #error
999                            #error

[1000 rows x 1 columns]

Как удалить простые дубли
В pandas есть метод для удаления дублей (дубликатов) - drop_duplicates(). Он просто удаляет повторяющиеся строки:

* import pandas as pd  
* df = pd.read_csv('data.csv')
* df.drop_duplicates()  
У данного метода тоже есть параметр subset, в этом случае нужно передавать список содержащий названия столбцов.

In [7]:
log4=log.copy()
log4.drop_duplicates(subset=['time', 'user_id'])

                              user_id                  time      bet     win
0    Запись пользователя № - user_919  [2019-01-01 14:06:51      NaN     NaN
1    Запись пользователя № - user_973  [2019-01-01 14:51:16      NaN     NaN
2    Запись пользователя № - user_903  [2019-01-01 16:31:16      NaN     NaN
3    Запись пользователя № - user_954  [2019-01-01 17:17:51      NaN     NaN
4    Запись пользователя № - user_954  [2019-01-01 21:31:18      NaN     NaN
..                                ...                   ...      ...     ...
991  Запись пользователя № - user_965  [2019-04-20 12:55:41    800.0  6927.0
992  Запись пользователя № - user_967  [2019-04-20 14:59:36  10154.0     NaN
993  Запись пользователя № - user_973  [2019-04-20 17:09:56  10254.0     NaN
994  Запись пользователя № - user_977  [2019-04-20 18:10:07  10354.0     NaN
995  Запись пользователя № - user_984   [2019-04-20 9:59:58   9754.0     NaN

[986 rows x 4 columns]

Задание 12.3.1

Уберите лишний символ, преобразуйте признак time к datetime. После этого найдите наибольшую дату и выведите ее без времени.

Подсказка: можно применить метод max() к получившемуся столбцу со временем.

Не забудьте избавиться от пропусков.

Запишите ответ в формате "YYYY-MM-DD".
Например, 1993-06-08.

In [8]:
log5=log.copy()
log5['time'] = log5['time'].str.replace('[','')
log5.time = pd.to_datetime(log5.time)
log5.time.max()

Timestamp('2019-04-20 18:10:07')

In [9]:
log6=log.copy()
log6.time = log6.time.apply(lambda s: str(s)[1:] if str(s).startswith('[') else s)
log6.time = pd.to_datetime(log6.time)
log6.time.max()

Timestamp('2019-04-20 18:10:07')

Посмотрите на изображение и код выше. Какую строчку надо написать вместо пропущенной строки, чтобы получить вывод как на изображении?
Можно выбрать один или несколько ответов.

In [10]:
log7=log.copy() 
log7 = log7.dropna()  
log7.columns = ['user_id', 'time', 'bet', 'win']  
# log7['time'] = log7['time'].str.replace('[','')
log7['time'] = log7['time'].apply(lambda x: x[1:])  
log7['time'] = pd.to_datetime(log7['time'])  
# log7['time'] = log7['time'].apply(lambda x: x.second)
# * log7.time = log7.time.apply(lambda x: x.minute)
# log7.time = log7.time.apply(lambda x: x.hour)
# * log7['time'] = log7.time.apply(lambda x: x.minute)
# Пропущенная строка  
log7['time'].head()

14    2019-01-02 08:57:36
29    2019-01-04 13:59:42
151   2019-01-16 21:54:22
189   2019-01-21 18:34:44
205   2019-01-22 05:26:59
Name: time, dtype: datetime64[ns]

In [11]:
log6.time.dt.minute.value_counts(ascending=False)

36.0    25
31.0    23
6.0     22
50.0    22
14.0    21
29.0    21
12.0    21
5.0     21
40.0    21
18.0    21
43.0    21
53.0    21
58.0    20
57.0    20
45.0    20
48.0    20
2.0     20
21.0    19
56.0    19
27.0    19
9.0     18
54.0    18
47.0    18
20.0    18
34.0    18
35.0    18
3.0     18
33.0    18
51.0    17
10.0    17
55.0    16
25.0    16
17.0    16
49.0    15
28.0    15
24.0    15
30.0    15
38.0    15
15.0    15
37.0    15
16.0    15
7.0     14
4.0     14
44.0    14
19.0    14
32.0    14
59.0    13
41.0    13
1.0     13
0.0     12
23.0    12
39.0    12
22.0    11
13.0    11
42.0    11
52.0    10
46.0    10
8.0      9
26.0     9
11.0     6
Name: time, dtype: int64

In [12]:
log6.time.dt.month.value_counts(ascending=False)

1.0    292
3.0    264
2.0    259
4.0    170
Name: time, dtype: int64

Задание 3*

Используйте оригинальные данные log.csv, столбец time.

Подсказка: можно использовать sum().

Посчитайте, сколько дней в данных являются выходными (то есть субботой или воскресеньем). Введите ответ в поле ниже.
Например, 300.

In [13]:
log6.time.dt.dayofweek.apply(lambda x: x==5 or x==6).value_counts(ascending=False)
# log6.time.dt.dayofweek.apply(lambda x: x==5 or x==6).sum()

False    717
True     283
Name: time, dtype: int64

In [14]:
def to_day_time(hour):
    if hour >= 0 and hour <= 5:
        return 'ночь'
    if hour >= 6 and hour <= 11:
        return 'утро'        
    if hour >= 12 and hour <= 17:
        return 'день'           
    if hour >= 18 and hour <= 23:
        return 'вечер'                     

log6.time.apply(lambda x: to_day_time(x.hour)).value_counts(ascending=True)
# day_time.value_counts(ascending=True)

вечер    227
день     240
утро     253
ночь     265
Name: time, dtype: int64

In [15]:
log = pd.read_csv("log.csv", header=None, names=['user_id','time', 'bet','win'])
log.dropna(axis=0, inplace=True)
log['time'] = log['time'].str.replace('[','')
log.time = pd.to_datetime(log.time)
log['hour'] = log.time.apply(lambda x: x.hour)
log

,user_id,time,bet,win,hour
14,Запись пользователя № - user_917,2019-01-02 08:57:36,145732.0,1987653.0,8
29,Запись пользователя № - user_942,2019-01-04 13:59:42,1678321.0,9876543.0,13
151,Запись пользователя № - user_982,2019-01-16 21:54:22,100.0,4749.0,21
189,Запись пользователя № - user_964,2019-01-21 18:34:44,200.0,4667.0,18
205,Запись пользователя № - user_931,2019-01-22 05:26:59,300.0,4319.0,5
...,...,...,...,...,...
967,Запись пользователя № - user_975,2019-04-19 22:25:15,1000.0,6108.0,22
971,Запись пользователя № - user_912,2019-04-20 10:35:49,10554.0,31799.0,10
972,Запись пользователя № - user_926,2019-04-20 10:35:50,10354.0,30244.0,10
976,Запись пользователя № - user_970,2019-04-20 10:35:54,10354.0,30691.0,10
991,Запись пользователя № - user_965,2019-04-20 12:55:41,800.0,6927.0,12

In [16]:
log = pd.read_csv("log.csv", header=None, names=['user_id','time', 'bet','win'])
log.dropna(axis=0, inplace=True)
log.time = log.time.apply(lambda s: str(s)[1:] if str(s).startswith('[') else s)
log.time = pd.to_datetime(log.time)
log['hour'] = log.time.apply(lambda t: t.hour)
display(log.head())

,user_id,time,bet,win,hour
14,Запись пользователя № - user_917,2019-01-02 08:57:36,145732.0,1987653.0,8
29,Запись пользователя № - user_942,2019-01-04 13:59:42,1678321.0,9876543.0,13
151,Запись пользователя № - user_982,2019-01-16 21:54:22,100.0,4749.0,21
189,Запись пользователя № - user_964,2019-01-21 18:34:44,200.0,4667.0,18
205,Запись пользователя № - user_931,2019-01-22 05:26:59,300.0,4319.0,5

In [17]:
log = pd.read_csv("log.csv", header=None, names=['user_id','time', 'bet','win'])
log['bet'] = log.bet.fillna(0)
log.bet.value_counts().head(1)

0.0    515
Name: bet, dtype: int64

In [39]:
log = pd.read_csv("log.csv", header=None, names=['user_id','time', 'bet','win'])
log.bet.fillna(0).value_counts().head()
# log.bet.value_counts().head(1)

0.0      515
500.0     50
100.0     48
300.0     42
800.0     42
Name: bet, dtype: int64

Разврат  решения 12.6

In [6]:
log = pd.read_csv("log.csv", header=None, names=['user_id','time', 'bet','win'])
def fill_na_win(x):
    if not pd.isna(x.win):
        return x.win
    if pd.isna(x.bet):
        return 0
    else:
        return -x.bet
log.win = log.apply(lambda x: fill_na_win(x), axis=1)  
log['win'] = log.win
log.win.loc[log.win == 0].count()

515

In [31]:
# log2 = pd.read_csv("log.csv", header=None, names=['user_id','time', 'bet','win'])
# log2['win'] = log2.win.fillna(0)

# log2['win'] = log2.apply(lambda x: 'win' if x.win == 'win' and x['win'] > 0 else -x['bet'], axis = 1)
# log2
# log2.win.loc[log2.win > 0].count()
# win = log2[log2['win'] > 0]
# loose = log2[log2['win'] == 0]
# win.bet.count()
# loose.bet.count()
# # log2['loose'] = loose
# log2['win'] = win
# log2
log2 = pd.read_csv("log.csv", header=None, names=['user_id','time', 'bet','win'])
log2['win'] = log2.win.fillna(0)
log2['win'] = log2.apply(lambda x: 'win' if x.win == 'win' and x['win'] > 0 else x['win'], axis = 1)
log2.bet.loc[log2.win == 0].count(),log2.bet.loc[log2.win >= 0].count(),log2.bet.loc[log2.win > 0].count()

(347, 485, 138)

In [5]:
log = pd.read_csv("log.csv", header=None, names=['user_id','time', 'bet','win'])
log['win'] = log.win.fillna(0)
nobeter = log['win'].count() - (log[log['win'] > 0].bet.count() + log[log['win'] == 0].bet.count())
loose = log[log['win'] == 0].bet.count() 
win = log[log['win'] > 0].bet.count()
win,loose,nobeter

(138, 347, 515)

In [35]:
# loose1 = log[log['win'] == 0].bet
# loose1
log = pd.read_csv("log.csv", header=None, names=['user_id','time', 'bet','win'])
log['bet'] = log.bet.fillna(0)
log['win'] = log.win.fillna(0)
log['net'] = log.apply(lambda x: 'win' if x.win == 'win' and x['win'] == 0 else x['win'] - x['bet'], axis = 1)
log.net.loc[log.net > 0].count(),log.net.loc[log.net < 0].count(),log.net.loc[log.net == 0].count()

# log.net.loc[log.net == 0].count()
# - (log[log['win'] > 0].bet.count() + log[log['win'] == 0].bet.count())

(138, 347, 515)

In [7]:
round(log.net.loc[log.net > 0].mean())

80253

In [ ]:
round(log.net.loc[log.net > 0].median())

In [ ]:
import numpy as np
log = pd.read_csv("log.csv", header=None, names=['user_id','time', 'bet','win'])
# *log.bet.mean()
# log.bet.mean(skipna=False)
# pd.mean(log['bet'])
# *log.bet.sum() / log.bet.dropna().shape[0]
# *np.mean(log.bet)
# *log['bet'].dropna().mean()

12.7.1
Используйте модифицированный исходный датасет log.csv.

При модификации датасета log.csv, пропущенные значения в столбцах bet и win замените на 0, cоздайте столбец net, хранящий сумму выигрыша с учетом ставки (для этого из столбца win поэлементно вычтите столбец bet и запишите в новый столбец).

Посчитайте, какой процент посещений букмекерской конторы оборачивался ставкой. Для этого поделите количество ставок (значений больше 0) на общее количество посещений конторы. Результат округлите до одного знака после запятой.

In [ ]:
log = pd.read_csv("log.csv", header=None, names=['user_id','time', 'bet','win'])
log['bet'] = log.bet.fillna(0)
log['win'] = log.win.fillna(0)
log['net'] = log.apply(lambda x: 'win' if x.win == 'win' and x['win'] == 0 else x['win'] - x['bet'], axis = 1)
# log.net.loc[log.net > 0].count()

12.7.1

In [ ]:
len(log.loc[log.bet > 0]) / len(log)*100

In [ ]:
round(log.bet[log.bet > 0].count() / len(log)*100,1)

12.7.2

In [ ]:
log.loc[log.bet > 0].bet.mean()

In [ ]:
log.loc[log.bet > 0].net.mean()

In [ ]:
log.loc[log.net < 0].net.mean()

In [ ]:
bets = log.loc[log.bet > 0]
bets_number = len(bets)
bets_number
# print('Доля выигрышей: {}'.format(len(bets.loc[bets.net > 0]) / bets_number))
# print('Доля проигрышей: {}'.format(len(bets.loc[bets.net < 0]) / bets_number))

In [ ]:
# len(bets.loc[bets.net > 0]) / len(log.loc[log.bet > 0])
bets = log.loc[log.bet > 0]
bets_number = len(bets)
bets_number
len(bets.loc[bets.net > 0]) / bets_number,len(bets.loc[bets.net < 0]) / bets_number

12.7.6

In [ ]:
log = pd.read_csv("log.csv", header=None, names=['user_id','time', 'bet','win'])
min_bet_amount=log.bet.value_counts().sort_index().iloc[0]
min_bet_amount

In [ ]:
log = pd.read_csv("log.csv", header=None, names=['user_id','time', 'bet','win'])
log.bet = log.bet.fillna(0)
log.win = log.win.fillna(0)
log.net = log.apply(lambda x: 'win' if x.win == 'win' and x['win'] == 0 else x['win'] - x['bet'], axis = 1)
# Приведем признак user_id к одному формату в обоих датасетах  
log.user_id = log.user_id.apply(lambda x: x.lower())  
# Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])

### Наконец то  порядок с датасетом

In [ ]:
import pandas as pd
import datetime

log = pd.read_csv("log.csv", header=None, names=['user_id','time', 'bet','win'])
log.bet = log.bet.fillna(0)
log.win = log.win.fillna(0)
log = log[log.user_id != '#error'] 
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  
log['time'] = log['time'].str.replace('[','')
log.time = pd.to_datetime(log.time)
log['net'] = log.apply(lambda x: 'win' if x.win == 'win' and x['win'] == 0 else x['win'] - x['bet'], axis = 1)


us = pd.read_csv('users.csv', encoding='koi8_r', sep='\t')
us.columns  = ['user_id', 'email', 'geo']
# Приведем признак user_id к одному формату в обоих датасетах  
us.user_id = us.user_id.apply(lambda x: x.lower())  

display(log,us)

Merge
Теперь объединим данные с помощью метода pd.merge():

pd.merge(dataframe1, dataframe2, on='feature_name')  
Первые два аргумента - таблицы, которые нужно будет объединить.

Третий аргумент - название признака, по которому будем объединять данные. Мы уже привели данные к одинаковому виду, и теперь их можно объединить по признаку 'user_id', чтобы получить полную информацию о пользователе.

In [ ]:
merged = pd.merge(log, us, on='user_id')
merged.info()

Groupby
Теперь повторим groupby.

Данный метод позволяет сгруппировать данные и применить к ним методы агрегации:

df.groupby('user_id').win.median().median()

В данном случае мы группируем данные по признаку user_id.

После этого мы в каждой группе выбираем признак win.

Затем мы берем медиану каждой группы по признаку win и на выходе получаем таблицу, в которой индексом является признак user_id. В этой таблице единственный столбец - медиана по каждой группе (то есть по каждому пользователю).

Наконец, последний вызов median() дает нам медиану по предыдущему столбцу, то есть возвращает одно число.

Анализ по пользователям
Мы собрали все, что нам нужно, чтобы извлечь какие-то инсайты из данных о пользователях.

Используйте датасет, который получился в результате всех преобразований выше (в том числе, заполнение пропусков). Ответ запишите в поле ниже в виде целого числа (отбросьте дробную часть).

Посчитайте медиану баланса по каждому пользователю. Для этого сгруппируйте по пользователям, возьмите признак net, просуммируйте по каждому пользователю и получите медиану.

In [ ]:
merged.groupby('user_id').win.sum().median()

In [ ]:
by_uid = merged.groupby(['user_id'])
by_uid.net.sum().median()

12.9.2
Используйте датасет, который получился в результате всех преобразований выше (в том числе, заполнение пропусков). Ответ запишите в поле ниже в виде целого числа (отбросьте дробную часть).

Сколько раз в среднем каждый человек приходит, не делая ставок, при условии, что у этого человека все-таки есть хотя бы одна ставка? Например: Человек посетил букмекерскую контору 5 раз из них 1 раз сделал ставку, 4 раза нет - условие выполняется. Человек посетил букмекерскую контору 5 раз из них ни разу ставку не сделал - условие не выполняется. Для того, чтобы узнать это, просуммируйте в каждой группе количество записей со ставкой, равной 0, и поделите на общее количество групп. Если при этом в группе нет записей со ставкой больше 0, считаем количество записей в данной группе равным 0.

In [ ]:
def aggbets(group):
    bets = group[group > 0]
    bets_count = len(bets)
    if bets_count == 0:
        return 0;
    return len(group) - bets_count

by_uid.bet.agg(func=aggbets).mean()

12.9.3
Используйте датасет, который получился в результате всех преобразований выше (в том числе, заполнение пропусков). Ответ запишите в поле ниже в виде целого числа - количества дней.

Сколько в среднем времени проходит между появлением человека в сервисе и первой ставкой? Считать нужно только тех, кто делал ставку. Для того, чтобы узнать это, напишите метод, считающий минимальное время среди ставок, равных 0, и минимальное время среди ставок больше 0. После этого верните разницу между вторым и первым числом. Пройдитесь по всем группам в цикле. Если в группе нет ставок больше 0, пропустите эту группу. Просуммируйте разницу во времени для каждой группы (с помощью метода, описанного выше) и поделите на количество групп, которые вы не пропустили.
Например, если ваш результат Timedelta('23 days 12:24:32'), то в поле пишите 23.

  нет ответа

In [38]:
import pandas as pd
import datetime

log = pd.read_csv("log.csv", header=None, names=['user_id','time', 'bet','win'])
log.bet = log.bet.fillna(0)
log.win = log.win.fillna(0)
log = log[log.user_id != '#error'] 
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  
log['time'] = log['time'].str.replace('[','')
log.time = pd.to_datetime(log.time)
log['net'] = log.apply(lambda x: 'win' if x.win == 'win' and x['win'] == 0 else x['win'] - x['bet'], axis = 1)

us = pd.read_csv('users.csv', encoding='koi8_r', sep='\t')
us.columns  = ['user_id', 'email', 'geo']
us.user_id = us.user_id.apply(lambda x: x.lower())  

def aggregate_bets(group):
    bets = group[group > 0]
    bets_count = len(bets)
    if bets_count == 0:
        return 0;
    return len(group) - bets_count

by_uid.bet.agg(func=aggregate_bets).mean()
def aggregate_timeouts(g):
    group = by_uid.get_group(g)
    aggregation = {}
    aggregation['user_id'] = g
    aggregation['appearance'] = group.iloc[0].time
    aggregation['first_bet'] = group[group.bet > 0].iloc[0].time
    return aggregation

result = map(aggregate_timeouts, grouped_by_uid.groups)
df = pd.DataFrame([x for x in list(result)])
df['delay'] = df.first_bet - df.appearance
df.delay.mean().days

NameError: name 'by_uid' is not defined

In [ ]:
log = pd.read_csv("log.csv", header=None, names=['user_id','time', 'bet','win'])

log = log[log.user_id != '#error']
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  
us.columns = ['user_id', 'email', 'city']
us.user_id = us.user_id.apply(lambda x: x.lower())
merged_df =  pd.merge(us, log, on = 'user_id')
merged_df.bet = merged_df.bet.fillna(0)
merged_df.win = merged_df.win.fillna(0)
merged_df['time'] = merged_df['time'].apply(lambda x: str(x).replace('[',''))
merged_df['time'] = pd.to_datetime(merged_df['time'])
# def fillna_win(row):
#     if row.bet ==0:
#         row.win=0
#         return row.win
#     elif row.bet>0:
#         row.win = row.win-row.bet
#         return row.win
# merged_df['net'] = merged_df.apply(lambda row: fillna_win(row), axis=1)
first_visit = merged_df[merged_df['bet']==0].groupby('user_id').time.first()
first_bet = merged_df[merged_df['bet']>0].groupby('user_id').time.first()
time = first_bet-first_visit
time.mean().days
# time.dt.days[time.dt.days>0].sum()/len(time.dt.days[time.dt.days>0])

In [5]:
import pandas as pd
import datetime

log = pd.read_csv("log.csv", header=None, names=['user_id','time', 'bet','win'])
log.bet = log.bet.fillna(0)
log.win = log.win.fillna(0)
log = log[log.user_id != '#error'] 
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  
log['time'] = log['time'].str.replace('[','')
log.time = pd.to_datetime(log.time)
log['net'] = log.apply(lambda x: 'win' if x.win == 'win' and x['win'] == 0 else x['win'] - x['bet'], axis = 1)
log[]
# us = pd.read_csv('users.csv', encoding='koi8_r', sep='\t')
# us.columns  = ['user_id', 'email', 'geo']
# us.user_id = us.user_id.apply(lambda x: x.lower())  

# merged = pd.merge(log, us, on='user_id')

# first_visit = merged[merged['bet']==0].groupby('user_id').time.first()
# first_bet = merged[merged['bet']>0].groupby('user_id').time.first()
# first_visit
# times = first_bet-first_visit
# times.mean().days

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
991    6927.0
992       0.0
993       0.0
994       0.0
995       0.0
Name: win, Length: 985, dtype: float64

In [ ]:
merged.groupby(['geo']).win.sum().sort_values(ascending=False)

In [ ]:
mean_bets = merged[merged.bet > 0].groupby(['geo']).bet.mean()
mean_bets.max() / mean_bets.min()
# mean_bets

In [30]:
log1= pd.read_csv("log.csv", header=None, names=['user_id','time', 'bet','win'])
log1 = log1[log1.user_id != '#error']  
log1.user_id = log1.user_id.str.split(' - ').apply(lambda x: x[1])

us1 = pd.read_csv('users.csv', encoding='koi8_r', sep='\t')
us1.columns  = ['user_id', 'email', 'geo']
us1.user_id = log1.user_id.str.lower()

merged = pd.merge(log1, us1, on='user_id')

sample2 = merged_df.groupby('geo').user_id.count()
sample2

geo
Арзангелтск         90
Воронеж             86
Екатеринбург        75
Ижевск              67
Казань              66
Краснодар           99
Красноярск          69
Москва              55
Пермь               59
Санкт-Петербург    120
Ставрополь          35
Тюмень              40
Хабаровск           67
Ярославль          110
Name: user_id, dtype: int64

In [26]:
import pandas as pd
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])
us = pd.read_csv('users.csv', encoding='koi8-r', sep='\t')
us.columns = ['user_id','email','geo']
us.user_id = us.user_id.apply(lambda x: x.lower()) 
sum_df = pd.merge(us, log, on='user_id')
sample2 = sum_df.groupby('geo').user_id.count()
sample2

geo
Арзангелтск         96
Воронеж             88
Екатеринбург        49
Ижевск              61
Казань              66
Краснодар           86
Красноярск          56
Москва              61
Пермь               55
Санкт-Петербург    115
Ставрополь          36
Тюмень              32
Хабаровск           60
Ярославль           89
Name: user_id, dtype: int64

In [4]:
import pandas as pd
log_df = pd.read_csv("log.csv", header=None, names=['user_id','time', 'bet','win'])
log_df = log_df[log_df.user_id != '#error']  
log_df.user_id = log_df.user_id.str.split(' - ').apply(lambda x: x[1])

us_df = pd.read_csv('users.csv', encoding='koi8_r', sep='\t')
us_df.columns  = ['user_id', 'email', 'geo']
us_df.user_id = us_df.user_id.apply(lambda x: x.lower()) 

merged_df = pd.merge(log_df, us_df, on='user_id')

sample2 = merged_df.groupby(['geo']).time.count()
print(sample2)

geo
Арзангелтск         96
Воронеж             88
Екатеринбург        49
Ижевск              61
Казань              66
Краснодар           86
Красноярск          56
Москва              61
Пермь               55
Санкт-Петербург    115
Ставрополь          36
Тюмень              32
Хабаровск           60
Ярославль           89
Name: time, dtype: int64

In [2]:
import pandas as pd
import datetime
log = pd.read_csv("log.csv", header=None, names=['user_id','time', 'bet','win'])
log.bet = log.bet.fillna(0)
log.win = log.win.fillna(0)
log = log[log.user_id != '#error'] 
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  
log['time'] = log['time'].str.replace('[','')
log.time = pd.to_datetime(log.time)
log['net'] = log.apply(lambda x: 'win' if x.win == 'win' and x['win'] == 0 else x['win'] - x['bet'], axis = 1)
us = pd.read_csv('users.csv', encoding='koi8_r', sep='\t')
us.columns  = ['user_id', 'email', 'geo']
us.user_id = us.user_id.apply(lambda x: x.lower())
merged = pd.merge(log, us, on='user_id')
by_uid = merged.groupby(['user_id'])
def aggregate_timeouts(g):
    group = by_uid.get_group(g)
    aggregation = {}
    aggregation['user_id'] = g
    aggregation['appearance'] = group.iloc[0].time
    aggregation['first_bet'] = group[group.bet > 0].iloc[0].time
    return aggregation

result = map(aggregate_timeouts, by_uid.groups)
df = pd.DataFrame([x for x in list(result)])
df['delay'] = df.first_bet - df.appearance
df.delay.mean().days
# by_uid.get_group

47