In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('data/train_mobile.csv', sep=';')
df.sample(5)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
1580,1897,1,1.9,0,2,1,54,0.3,154,2,...,630,738,412,17,11,2,1,0,0,0
309,1997,1,1.8,1,1,0,40,0.5,185,4,...,866,1212,1655,7,6,15,1,0,0,1
1630,1194,0,2.3,0,6,1,34,0.2,165,2,...,494,509,313,15,1,19,1,1,0,0
1214,582,0,0.5,0,8,0,32,0.7,107,3,...,1043,1702,2977,6,1,20,0,1,1,1
502,1661,1,0.8,1,1,1,6,1.0,109,7,...,594,1337,864,9,8,2,1,0,1,0

In [4]:
df.corr()['price_range'].abs().sort_values(ascending=False).head(6)

price_range      1.000000
ram              0.822354
battery_power    0.149402
px_width         0.116703
px_height        0.097951
touch_screen     0.040001
Name: price_range, dtype: float64

In [5]:
from sklearn.model_selection import train_test_split # функция, чтобы разбить данные на трейн и тест
from sklearn.linear_model import LogisticRegression # наша модель для классификации

In [6]:
X_df = df[['ram', 'battery_power', 'px_width', 'px_height', 'touch_screen']]
X_df.head(5)

    ram  battery_power  px_width  px_height  touch_screen
0  2549            842       756         20             0
1  2631           1021      1988        905             1
2  2603            563      1716       1263             1
3  2769            615      1786       1216             0
4  1411           1821      1212       1208             1

In [7]:
Y_df = df[['price_range']]
Y_df.head(5)

   price_range
0            0
1            1
2            1
3            1
4            0

In [8]:
X = X_df.values
X

array([[2549,  842,  756,   20,    0],
       [2631, 1021, 1988,  905,    1],
       [2603,  563, 1716, 1263,    1],
       ...,
       [3057, 1911, 1632,  868,    1],
       [ 869, 1512,  670,  336,    1],
       [3919,  510,  754,  483,    1]], dtype=int64)

In [9]:
Y = Y_df.values
Y

array([[0],
       [1],
       [1],
       ...,
       [1],
       [0],
       [1]], dtype=int64)

Разбиваем выборку на обучающую и тестовую и обучаем нашу модель:

In [10]:
X_train, X_val, Y_train, Y_val = train_test_split(X, Y, test_size = 0.2, random_state=31)
model = LogisticRegression()
model.fit(X_train, Y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression()

Готово! Теперь осталось только вычислить необходимые метрики:

In [11]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

Y_predicted = model.predict(X_val)
print(accuracy_score(Y_val,Y_predicted))
print('! ', precision_score(Y_val,Y_predicted))
print(recall_score(Y_val,Y_predicted))
print(f1_score(Y_val,Y_predicted))

0.9875
!  0.9859154929577465
0.9905660377358491
0.9882352941176472

Загрузите встроенный в библиотеку sklearn датасет про ирисы с помощью функции load_iris. Обучите модель логистической регрессии (random_state=50, размер тестовой выборки 0.3) и укажите полученное значение метрики Accuracy.

In [12]:
from sklearn.datasets import load_iris # подгружаем датасет
iris = load_iris()

In [13]:
Y = iris.target 
X = iris.data

X_train, X_val, Y_train, Y_val = train_test_split(X, Y, test_size = 0.3)
model = LogisticRegression()
model.fit(X_train, Y_train)


Y_predicted = model.predict(X_val)
print(accuracy_score(Y_val,Y_predicted))

0.9555555555555556

In [14]:
from sklearn.metrics import log_loss

X = np.array([0, 0, 1, 1])
Y = np.array([.2, .8, 1, .6])

log_loss(X, Y, normalize=False)

2.343407087514302

In [15]:
X = np.array([[0,0,1],[0,0,1],[1,0,0]])
Y = np.array([[.2,.3,.5],[0,0,1],[.1,0,.9]])

log_loss(X, Y)

0.998577424517998