In [1]:
import numpy as np
A = np.array([[1,-1,2,4,0],[8,2,0,5,3],[0,1,2,1,2]])
A*2

array([[ 2, -2,  4,  8,  0],
       [16,  4,  0, 10,  6],
       [ 0,  2,  4,  2,  4]])

In [2]:
A = np.array([[1, -1, 2, 4, 0],[8, 2, 0, 5, 3],[0, 1, 2, 1, 2]])

In [3]:
reversed_ar = A[::-1]
reversed_ar

array([[ 0,  1,  2,  1,  2],
       [ 8,  2,  0,  5,  3],
       [ 1, -1,  2,  4,  0]])

In [4]:
np.flip(A , axis = 1 )

array([[ 0,  4,  2, -1,  1],
       [ 3,  5,  0,  2,  8],
       [ 2,  1,  2,  1,  0]])

In [5]:
A = np.array([[1,1],[5,7]])
B = np.array([[6,1],[-5,5]])
A+B

array([[ 7,  2],
       [ 0, 12]])

In [6]:
A = np.array([[3,9],[6,27]])
A 
A/3

array([[1., 3.],
       [2., 9.]])

In [7]:

A = np.array([[1,5,4],[0,1,0]])
A.T

array([[1, 0],
       [5, 1],
       [4, 0]])

1.10. --> Практика. Базовые действия над матрицами

In [8]:
import numpy as np

Husband_Income = np.array([100,220,140])
Wife_Income = np.array([150,200,130])
Mother_In_Law_Income = np.array([90,80,100])

Husband_Сonsumption = np.array([50,50,60])
Wife_Сonsumption = np.array([100,80,140])
Mother_In_Law_Сonsumption = np.array([100,20,140])

In [9]:
Inc = np.array([Husband_Income, Wife_Income, Mother_In_Law_Income]).T
Inc
np.diag(Inc)

array([100, 200, 100])

In [10]:
Cons = np.array([Husband_Сonsumption, Wife_Сonsumption, Mother_In_Law_Сonsumption]).T
Cons

array([[ 50, 100, 100],
       [ 50,  80,  20],
       [ 60, 140, 140]])

In [11]:
np.diag(Cons)

array([ 50,  80, 140])

In [12]:
f=np.flip(Cons, axis = 0)
np.diag(f)

array([ 60,  80, 100])

In [13]:
After_Taxes = Inc * 0.87
After_Taxes

array([[ 87. , 130.5,  78.3],
       [191.4, 174. ,  69.6],
       [121.8, 113.1,  87. ]])

In [14]:
After_Taxes1 = (Inc * 13)/100
After_Taxes1

array([[13. , 19.5, 11.7],
       [28.6, 26. , 10.4],
       [18.2, 16.9, 13. ]])

In [15]:
# def cl(A):
#     A=A[A[:,:].replace(' ','')]
#     return print(A) 
# cl(After_Taxes)
# # def to_day_time(hour):
# #         hour[hour[:,:].str.replace(' ','')]
# #         if hour >= 0 and hour <= 5:
# #         return 'ночь'

In [8]:
def cl(A):
    A = np.ravel(A)
    A = ",".join(map(str,A))
    return A

    

B = np.array([[1,-1,2,4,0],[8,2,0,5,3],[0,1,2,1,2]])
A = np.array([100,220,140])
cl(A),cl(B)

('100,220,140', '1,-1,2,4,0,8,2,0,5,3,0,1,2,1,2')

In [17]:
net= After_Taxes - Cons
net1 = net[2]
cl(net1)

'61.8,-26.900000000000006,-53.0'

In [18]:
A = np.array([
    [1, -1, 2, 4, 0],
    [8, 2, 0, 5, 3],
    [0, 1, 2, 1, 2]])
    
B = np.array([
    [1, 0, 1, 0],
    [0, 0, 2, -1],
    [1, 0, 1, 1],
    [0, 1, 1, 1,],
    [1, 1, 0, -1]])

C = np.dot(A, B)
print(C)
print('C12: ', C[0,1])
print('C34: ', C[2,3])

[[ 3  4  5  7]
 [11  8 17  0]
 [ 4  3  5  0]]
C12:  4
C34:  0

In [19]:
B= np.array([-3,1])
A = np.array([1,3])
# B.shape
# B= B.reshape(2,1)
# A*B
C = np.dot(A, B.T)
C

0

In [20]:
C = np.dot(A, B)
C

0

In [21]:
A = np.array([[1], [3]])
B = np.array([[-3], [1]])
A*B.T

array([[-3,  1],
       [-9,  3]])

In [22]:
A = np.array([[1,-1,2,4,0],[8,2,0,5,3],[0,1,2,1,2]])
A=np.concatenate(A)
A

array([ 1, -1,  2,  4,  0,  8,  2,  0,  5,  3,  0,  1,  2,  1,  2])

In [23]:
a = np.array([100,220,140])
s = np.array([150,200,130])
d = np.array([90,80,100])

z = np.array([a, s, d])
###
A = np.concatenate(z)
A = ",".join(map(str,A))
###
B = np.ravel(z)
B = ",".join(map(str,B))
A,B

('100,220,140,150,200,130,90,80,100', '100,220,140,150,200,130,90,80,100')

In [24]:
import numpy as np
A = np.array([[2,0], [0,3]])
B = np.array([[1,1], [4,5]])
np.dot(B,A)

array([[ 2,  3],
       [ 8, 15]])

In [25]:
import numpy as np
A = np.array([[2,-1], [-6,3]])
B = np.array([[2,5], [4,10]])
np.dot(A,B)

array([[0, 0],
       [0, 0]])

In [50]:
import numpy as np
x = np.array([1], [1])
y = np.array([2], [-1])
z = np.array([1], [2])
xyz_m = np.array(x, y, z)
xyz_m.T"xyz_m

SyntaxError: EOL while scanning string literal (<ipython-input-50-c94138e127f9>, line 6)

In [ ]:
abz_m = np.array([a, b, z])
abz_m@abz_m.T

In [30]:
xyz_m = np.array([x, y, z])

xyz_m.T*xyz_m
# xyz_m.T@xyz_m

array([[[ 1,  2,  1],
        [ 1, -1,  2]],

       [[ 2,  4,  2],
        [-1,  1, -2]],

       [[ 1,  2,  1],
        [ 2, -2,  4]]])

In [55]:
import numpy as np
x = np.array([[1], [1]]).T
y = np.array([[2], [-1]]).T
z = np.array([[1], [2]]).T
xyz_m = np.concatenate([x, y, z])
xyz_m@xyz_m.T

array([[2, 1, 3],
       [1, 5, 0],
       [3, 0, 5]])

In [67]:
A1 = np.array([[1], [3]])
B1 = np.array([[-3], [1]])

A2 = np.array([1, 3])
B2 = np.array([-3,1]) 
A1 = A1.T
#A  нижнее  получается  != A
A1 == A2.T
A1.shape, A2.shape

((1, 2), (2,))

In [70]:
х = np.array([1,1]).T
y = np.array([2,-1]).T
z = np.array([1,2]).T
xyz_m@xyz_m.T

array([[2, 1, 3],
       [1, 5, 0],
       [3, 0, 5]])

In [71]:
A = np.array([[5,-1,3,1,2], [-2,8,5,-1,1]])
x = np.array([1,2,3,4,5])
np.dot(A,x)

array([26, 30])

In [72]:
np.dot(x,A)

ValueError: shapes (5,) and (2,5) not aligned: 5 (dim 0) != 2 (dim 0)

In [76]:
A = np.array([[1,9,8,5], [3,6,3,2], [3,3,3,3], [0,2,5,9], [4,4,1,2]])
B = np.array([[1,-1,0,1,1], [-2,0,2,-1,1]])
c=np.dot(B,A)
c[0,3]

14

In [97]:
x = np.array([1,2,1,0,4])
y = np.array([2,1,-1,1,0])
z = np.array([-1,1,-1,0,0])
w = np.array([x, y, z])
w=w@xyz_m.T
cl(w)

'22,3,0,3,7,0,0,0,3'

In [ ]:
x = np.array([1,2,1,0,4])
y = np.array([2,1,-1,1,0])
z = np.array([-1,1,-1,0,0])

In [92]:
xyz_m = np.array([x, y, z])
xyz_m@xyz_m.T

array([[22,  3,  0],
       [ 3,  7,  0],
       [ 0,  0,  3]])

In [122]:
import pandas as pd

Count_DF = pd.DataFrame({'Женские стрижки': [10, 2, 12, 4, 6, 10, 22, 7], 
                                'Мужские стрижки': [5, 21, 12, 8, 25, 3, 1, 0], 
                                'Окрашивания':[12, 3, 0, 18, 27, 2, 4, 31],
                              'Укладка':[15, 25, 30, 14, 25, 17, 25, 31],
                                'Уход':[10, 6, 4, 5, 18, 12, 20, 28]
                                }, 
                               index=['Аня', 'Борис', 'Вика', 'Галя', 'Дима', 'Егор', 'Женя','Юра'])
display(Count_DF)

Price_DF = pd.DataFrame({'Женские стрижки': [2, 1.8, 2, 1.8, 2.5, 5, 1.1, 4.5], 
                                'Мужские стрижки': [1.5, 2.5, 2, 1.2, 3.5, 5, 1, 4], 
                                'Окрашивания':[1, 1, 0, 2.8, 2, 3, 1.5, 2.5],
                              'Укладка':[0.8, 1, 0.5, 0.8, 1, 2, 0.5, 1],
                                'Уход':[1, 1, 2, 2, 1.5, 2.5, 1.7, 2] 
                                }, 
                               index=['Аня', 'Борис', 'Вика', 'Галя', 'Дима', 'Егор', 'Женя','Юра'])
display(Price_DF)
a=Count_DF.T
a=pd.DataFrame(data=a)
s=a['Борис'].values
b=Price_DF.T
b=pd.DataFrame(data=b)
x=b['Борис'].values
z= s*x
cl(z)

       Женские стрижки  Мужские стрижки  Окрашивания  Укладка  Уход
Аня                 10                5           12       15    10
Борис                2               21            3       25     6
Вика                12               12            0       30     4
Галя                 4                8           18       14     5
Дима                 6               25           27       25    18
Егор                10                3            2       17    12
Женя                22                1            4       25    20
Юра                  7                0           31       31    28

       Женские стрижки  Мужские стрижки  Окрашивания  Укладка  Уход
Аня                2.0              1.5          1.0      0.8   1.0
Борис              1.8              2.5          1.0      1.0   1.0
Вика               2.0              2.0          0.0      0.5   2.0
Галя               1.8              1.2          2.8      0.8   2.0
Дима               2.5              3.5          2.0      1.0   1.5
Егор               5.0              5.0          3.0      2.0   2.5
Женя               1.1              1.0          1.5      0.5   1.7
Юра                4.5              4.0          2.5      1.0   2.0

'3.6,52.5,3.0,25.0,6.0'

In [124]:
com = np.array([0.2, 0.2, 0.3, 0.1, 0.1])
coms=a.values*b.values
com1=coms @ com

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 5 is different from 8)

In [125]:
profit = Count_DF.values * Price_DF.values
display(profit)

array([[20. ,  7.5, 12. , 12. , 10. ],
       [ 3.6, 52.5,  3. , 25. ,  6. ],
       [24. , 24. ,  0. , 15. ,  8. ],
       [ 7.2,  9.6, 50.4, 11.2, 10. ],
       [15. , 87.5, 54. , 25. , 27. ],
       [50. , 15. ,  6. , 34. , 30. ],
       [24.2,  1. ,  6. , 12.5, 34. ],
       [31.5,  0. , 77.5, 31. , 56. ]])

In [133]:
a=Count_DF
a=pd.DataFrame(data=a)
b=Price_DF
b=pd.DataFrame(data=b)
c=a.values*b.values
z = np.array([0.2, 0.2, 0.3, 0.1, 0.1])
x = c@z
cl(x)

'11.3,15.22,11.900000000000002,20.6,41.900000000000006,21.200000000000003,11.49,38.25'

In [158]:
stylist_profit = c @ (1 - com)
stylist_profit

array([ 50.2 ,  74.88,  59.1 ,  67.8 , 166.6 , 113.8 ,  66.21, 157.75])

In [155]:
z = np.array([0.2, 0.2, 0.3, 0.1, 0.1])
nn=(100-(z*100))/100
nn
# bb=a*b@(1-z)
# bb.values

array([0.8, 0.8, 0.7, 0.9, 0.9])

In [4]:
import numpy as np
mat=np.matrix("1,2; 2,4")
# np.linalg.inv(mat)

LinAlgError: Singular matrix

In [6]:
mat=np.matrix("1,2; 2,5")

mat, np.linalg.inv(mat)

(matrix([[1, 2],
         [2, 5]]),
 matrix([[ 5., -2.],
         [-2.,  1.]]))

In [15]:
undermat = np.linalg.inv(mat)
# cl(undermat)
undermat

matrix([[ 5., -2.],
        [-2.,  1.]])

In [26]:
mat=np.matrix("1,2; 1,1")
mat1=np.matrix("5,-2; -1,4")
x=np.linalg.det(mat) 
y=np.linalg.det(mat1)
z=np.linalg.det(mat+mat1)
np.around(x),np.around(y),np.around(z)

(-1.0, 18.0, 30.0)

In [32]:
mat=np.matrix("2,0,0;0,1,0;0,0,4")
np.around(np.linalg.det(mat)), 1/np.around(np.linalg.det(mat))

(8.0, 0.125)

In [36]:
mat=np.matrix("1,0,3,5; 0,4,5,5; 0,0,0,0; 0,0,0,0")
mat1=np.matrix("1,0,3,5; 0,4,5,5; 0,0,0,4; 0,0,0,0")

In [37]:
np.linalg.matrix_rank(mat),np.linalg.matrix_rank(mat1)

(2, 3)

In [40]:
A = np.array([[8, 6, 11], [7, 5, 9],[6, 10, 6]])
B=np.around(np.linalg.inv(A),3)
B[1,0]

0.375

In [42]:
v1 = np.array([9, 10, 7, 7, 9])
v2 = np.array([2, 0, 5, 1, 4])
v3 = np.array([4, 0, 0, 4, 1])
v4 = np.array([3, -4, 3, -1, -4])

In [43]:
v1234 = np.array([v1, v2, v3, v4])
np.linalg.matrix_rank(v1234)

4

In [44]:
v1234

array([[ 9, 10,  7,  7,  9],
       [ 2,  0,  5,  1,  4],
       [ 4,  0,  0,  4,  1],
       [ 3, -4,  3, -1, -4]])

In [46]:
vg = v1234 @ v1234.T
vg[0,3]

-35

In [51]:
np.around(np.linalg.det(vg))

3716648.0

In [54]:
h=np.around(np.linalg.inv(vg),3)
h[2,0]

-0.026